<header class="navbar">
    <div class="container nav-container">
        <h1 class="logo">Agro CLEO</h1>

        <nav class="nav-links" id="navLinks">
            <a href="index.html">Inicio</a>
            <a href="solucion.html">Solución</a>
            <a href="impacto.html">Impacto</a>
            <a href="pitch.html">Pitch</a>
            <a href="prototipo.html">Prototipo</a>
        </nav>

        <div class="menu-toggle" id="menuToggle">☰</div>
    </div>
</header>

<aside class="sidebar" id="sidebar">
    <a href="index.html">Inicio</a>
    <a href="solucion.html">Solución</a>
    <a href="impacto.html">Impacto</a>
    <a href="pitch.html">Pitch</a>
    <a href="prototipo.html">Prototipo</a>
</aside>